sudo: false
language: ruby
env:
  - USE_DB=postgres
  - USE_DB=sqlite3
rvm:
  - 2.3.8
  - 2.4.7
  - 2.5.6
  - 2.6.4
gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/5.1.gemfile
  - gemfiles/5.2.gemfile
  - gemfiles/6.0.gemfile
script:
  - "bundle exec rspec"
matrix:
  exclude:
  - rvm: 2.3.8
    gemfile: gemfiles/6.0.gemfile
  - rvm: 2.4.7
    gemfile: gemfiles/6.0.gemfile
